.lp-feature {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 140px;
  &__title {
    font-family: 'Source Sans Bold', sans-serif;
    font-size: 27px;
    line-height: 33px;
    font-weight: bold;
  }
  &__text {
    font-family: 'Source Sans Regular', sans-serif;
    line-height: 33px;
    font-size: 16px;
    max-width: 777px;
    margin: 45px auto 0;
  }
  &-slider {
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    &-item {
      background: #222222;
      width: 370px;
      min-height: 375px;
      padding: 70px 42px 30px;
      color: #eee;
      text-align: left;
      &__title {
        font-family: 'Source Sans Regular', sans-serif;
        line-height: 33px;
        text-transform: uppercase;
        font-size: 14px;
      }
      &__text {
        font-size: 24px;
        line-height: 33px;
        font-family: 'Source Sans Regular', sans-serif;
      }
      &-info {
        padding-top: 75px;
        &-row {
          display: flex;
          justify-content: flex-start;
          flex-direction: row;
          &-review {
            padding-left: 13px;
            &__name, &__date {
              text-transform: uppercase;
              font-size: 14px;
              line-height: 26px;
              font-family: 'Source Sans SemiBold', sans-serif;
            }
          }
        }
      }
    }
  }
}
