.lp-footer {
  padding-top: 70px;
  width: 100%;
  background: #212121;
  color: #494949;

  &-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 15px;

    &-left {
      width: 40%;

      &__logo {
        font-family: 'Source Sans Bold', sans-serif;
        font-size: 22px;
        line-height: 38px;
        color: white;
        font-weight: bold;
        margin-bottom: 20px;
      }

      &__text {
        font-size: 14px;
        line-height: 24px;
        font-family: 'Source Sans Regular', sans-serif;
      }

      &-form {
        padding-top: 40px;

        &__input, &__textarea {
          border: none;
          outline: none;
          width: 40%;
          margin-right: 25px;
          background: #212121;
          color: #494949;

          &::placeholder {
            opacity: 1;
            transition: opacity 0.3s ease;
          }

          &:focus::placeholder {
            opacity: 0;
            transition: opacity 0.3s ease;
          }

          &:focus {
            border-bottom: 1px solid #494949;
          }
        }

        &__textarea {
          resize: none;
          margin-right: 0;
          margin-top: 20px;
          width: 100%;

          &:focus {
            border-bottom: 1px solid #494949;
          }
        }

        &__button {
          margin-top: 50px;
          color: #494949;
          position: relative;
          transition: color .3s ease-in;
          cursor: pointer;

          &:after {
            position: absolute;
            content: '';
            right: -13px;
            top: 2px;
            border: 5px solid transparent;
            border-left: 5px solid #494949;
          }

          &:hover {
            color: white;
          }
        }
      }
    }

    &-right {
      width: 60%;
      display: flex;
      justify-content: center;
      flex-direction: row;

      &-item {
        width: 30%;
        padding: 0 10px;

        &__title {
          font-size: 15px;
          color: white;
          line-height: 24px;
          font-weight: 400;
          font-family: 'Source Sans SemiBold', sans-serif;
          margin-bottom: 35px;
          text-transform: uppercase;
        }

        & li {
          margin-bottom: 5px;
        }

        &__link {
          color: #494949;
          text-decoration: none;
        }
      }
    }
  }

  &-secondary {
    padding-top: 35px;
    border-top: 1px solid #494949;
    padding-bottom: 40px;

    &-row {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      @media screen and (max-width: 1023px) {
         & {
           flex-direction: column;
         }
      }

      &-item {
        &__text {
          font-size: 14px;
          line-height: 24px;
          font-family: 'Source Sans Regular', sans-serif;
        }

        &__list {
          display: flex;
          justify-content: center;
          flex-direction: row;

          & li {
            padding: 0 10px;
          }
        }
        &-first {
            order: -1;
        }
      }
    }
  }
}
