.lp-header {
  width: 100%;
  min-height: 1000px;
  background: url(../../assets/img/temp.png)no-repeat;
  background-size: 100% 100%;
  padding-top: 55px;
  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 32px;
    font-family: 'Source Sans Pro Bold', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    &-logo {
      font-size: 18px;
      line-height: 32px;
    }
    &-nav {
      &__list {
        display: flex;
        justify-content: center;
        flex-direction: row;
      }
      &__item {
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
      &__link {
        text-decoration: none;
        text-transform: uppercase;
        color: $main-font;
      }
    }
  }
  &-content {
    width: 550px;
    margin-left: auto;
    text-align: right;
    padding-top: 400px;
    &__title {
      position: relative;
      &:after {
        position: absolute;
        content: '';
        right: 0;
        top: 60px;
        width: 150px;
        height: 5px;
        background: $main-font;
      }
    }
    &__text {
      font-size: 18px;
      line-height: 34px;
      font-family: 'Source Sans Regular', sans-serif;
      margin-top: 71px;
    }
    &__btn {
      min-width: 270px;
      height: 45px;
      border: 2px solid $main-font;
      cursor: pointer;
      margin-top: 60px;
      font-family: 'Source Sans SemiBold', sans-serif;
      font-size: 18px;
      line-height: 34px;
    }
  }
}
