.lp-portfolio {
  padding-top: 115px;
  width: 100%;
  &__title {
    margin-bottom: 40px;
    text-align: center;
  }
  &__desc {
    width: 760px;
    margin: 0 auto;
    position: relative;
    &:before {
      position: absolute;
      content: '';
      left: 50%;
      transform: translate(-50%,-50%);
      width: 84px;
      height: 8px;
      background: #e64a19;
      top: 54px;
    }
  }
  &__slider {
    padding-top: 50px;
    padding-bottom: 150px;
    &-dots {
      bottom: 90px;
    }
  }
}
