.lp-twitts {
  padding-top: 150px;
  padding-bottom: 100px;
  &-row {
    text-align: center;
    &__img {
      margin-bottom: 40px;
      position: relative;
      &:after {
        position: absolute;
        content: "\f099";
        font-family: 'FontAwesome',sans-serif;
        top: -49px;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 34px;
      }
    }
    &__text {
      font-family: 'Source Sans Regular', sans-serif;
      width: 870px;
      margin: 0 auto 40px;
      font-size: 20px;
      line-height: 38px;
      @media screen and (max-width: 1023px) {
         & {
           width: 100%;
         }
      }
      @media screen and (max-width: 767px) {
        & {
          font-size: 18px;
          line-height: 25px;
          margin-bottom: 20px;
        }
      }
    }
    &__id {
      font-size: 16px;
      line-height: 38px;
      font-weight: bold;
      font-family: 'Source Sans Bold', sans-serif;
    }
  }
}
