.lp-who {
  padding-top: 100px;
  text-align: center;
  &__title {
    font-family: 'Source Sans Pro Bold', sans-serif;
    font-size: 27px;
    line-height: 34px;
    font-weight: bold;
    position: relative;
    &:after {
      position: absolute;
      content: '';
      width: 39px;
      height: 39px;
      background: url(../../assets/img/broccoli.png);
      transform: translate(-50%,-50%);
      left: 50%;
      top: -30px;
    }
  }
  &__text {
    max-width: 970px;
    font-size: 16px;
    line-height: 33px;
    margin: 75px auto 30px;
  }
}
